@tailwind base;
@tailwind components;
@tailwind utilities;

/** Desktop menu */
.desktop-dropdown-menu {
  display: none;
  z-index: 1;
}
:is(.feature-nav-item:hover, .company-nav-item:hover) .desktop-dropdown-menu {
  display: block;
}

:is(.feature-nav-item:hover, .company-nav-item:hover) path {
  stroke: theme('colors.black');
}

:is(.feature-nav-item:hover, .company-nav-item:hover) .nav-item-text {
  color: theme('colors.black');
}

/** Mobile menu */
:is(.mob-menu-item:hover) .mob-menu-item-text {
  color: theme('colors.black');
}

:is(.mob-menu-item:hover) path {
  stroke: theme('colors.black');
}